$primary-color: #586F7B;
$secondary-color: #61a8bd;
$tertiary-color: #F7F7F7;
$font-family: Roboto, "Helvetica Neue", sans-serif;

// color palette
$color-primary: #586F7B;
$color-primary-light: #B8DBD9;
$color-primary-dark: #2B3D44;
$color-secondary: #61a8bd;
$color-secondary-light: #9bd3e2;
$color-secondary-dark: #2f7a8d;
$color-tertiary: #F7F7F7;
$color-tertiary-light: #ffffff;
$color-tertiary-dark: #c4c4c4;

// text
$color-text: #000000;
$color-text-light: #ffffff;
$color-text-dark: #000000;


